/* css reset */
*, *::before, *::after {
    box-sizing: border-box;
    /* font-weight: 500; */
    font-family: sans-serif;
}
html, body {
    height: 100%;
    max-width: 100%;
}
body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}
li,ol,ul {
    list-style: none;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}
a:hover {
    text-decoration: none;
}

/* start */
h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

main {
    min-width: 64rem;
    max-width: 111.25rem;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block-end: 3rem;

    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
    align-items: start;
}

section + * {
    margin-block-start: 2rem;
}

fieldset {
    border-radius: 0.25rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2rem;
    justify-content: space-between;
}

fieldset:has(input[type="checkbox"][name*="-hr"]) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
    gap: 0;
}

fieldset label {
    padding: 0.5rem;
    border: 0.0625rem solid #000;
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.125rem 0.25rem #00000040;
}

fieldset label * {max-width: 100%;}

fieldset label:has(input[type="checkbox"][name*="-hr"]:checked) {
    background-color: #f5a936;
}

fieldset label:has(input[type="checkbox"]:not([name*="-hr"]):checked) {
    background-color: #51a885;
}

fieldset label:has(input[type="checkbox"]) {
    padding-block: 1rem;
    word-break: keep-all;

    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    place-items: center;
}

fieldset label input[type="checkbox"] {
    width: 0;
    height: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    pointer-events: none;
}

.inner {
    border-radius: 0.25rem;
    padding: 1rem;    
}

.inner > * + * {
    margin-block-start: 0.75rem;
}

#calc-btn {
    padding: 0.5rem 1rem;
    border: 0.0625rem solid #000;
    border-radius: 0.25rem;
    cursor: pointer;
}

#result {
    position: sticky;
    top: 1rem;
}

#result .inner > div {
    padding-inline: 2rem;
    border: 0.0625rem solid #000;
    border-radius: 0.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#breakeven-plot {
    padding: 2rem;

    display: grid;
    place-items: center;
}

#breakeven-plot > svg {
    width: 100%;
}

#scenario-panel {
    padding: 2rem;
}

.scenario {
    padding: 2rem;
    border: 0.0625rem solid #000;
    border-radius: 0.25rem;
}